@import "tailwindcss";

:root {
    --background: #2d2d30; /* Gris principal */
    --surface: #ffffff;    /* Tarjetas */
    --text: #d4d4d4;
    --border: #d1d5db;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;

    color: var(--text);
    background: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



body {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--text);
}

#root {
    min-height: 100vh;
}

input, button, select, textarea {
  box-sizing: border-box;
}